// Place all the styles related to the anuncios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.list_line_even {
    background: #e0f8f8;
  }

  .list_line_odd {
    background: #d4e1e1;
  }
 
.row .col-sm-3 .col-md-2 .sidebar{
	heitgh: 80px;
}