<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="">
	<%= favicon_link_tag(source='CondoSmartIcon.png')%>
	<%= stylesheet_link_tag 'area_administrativa/area_administrativa', media: 'all' %>
</head>

<body>
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    Área Administrativa
                </li>
                <li><a href="/admin/condos">Cadastro Condomínios</a></li>
                <li><a href="/admin/sign_out">Logout</a></li>
            </ul>
        </div>

        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <%= yield %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
